<div ng-controller="FooterController" id="_footer" style="width:100%;position:relative">
    <div class="icon-bar" style="overflow:hidden">
        <a href="" class="footeritem footerflightcrew" data-ng-click="navigate('/flightcrew','flightcrew',1)"><i class="fas fa-users"></i><span class="hidden-xs">Flight Crew</span></a>

        <a href="" class="apphome footeritem footerpilot" data-ng-click="navigate('/pilot','Pilot',1)"><i class="fas fa-user"></i><span class="hidden-xs">pilot</span></a>

        <a href="" class="applibrary footeritem footerdispatch" data-ng-click="navigate('/dispatch','dispatch',1)"><i class="fas fa-book-open"></i><span class="hidden-xs">Dispatch</span></a>
        <a href="" class="footeritem footerstation" data-ng-click="navigate('/station','station',1)"><i class="fas fa-warehouse"></i><span class="hidden-xs">Station</span></a>
        <a href="" class="footeritem footersecurity" data-ng-click="navigate('/security','security',1)"><i class="fas fa-user-shield"></i><span class="hidden-xs">Security</span></a>
        <a href="" class="footeritem footerhome" data-ng-click="navigate('/home','home',2)"><i class="fas fa-home"></i><span class="hidden-xs">Home</span></a>
        <a href="" class="footeritem footernew" data-ng-click="linkClicked('new_popup')"><i class="fas fa-plus"></i><span class="hidden-xs">New</span></a>
    </div>

</div>