<style>
    .dx-toolbar {
        background-color: white;
        text-align: center
    }

    .dx-popup-content {
        padding: 0px !important
    }

    .button1 {
        color: white;
        height: 5%;
        width: 48%;
        padding: 5px;
        border-radius: 5px;
        position: fixed
    }
</style>

<body>
    <div style="height:100%">
        <div class="box  maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto">
            <div class="rowx header" ng-include="'app/views/header.html'"></div>
            <div class="rowx content" style="clear:both;background:#f0f3f5;  ">
            </div>


            <div class="rowx footer app-footer" ng-include="'app/views/Footer.html'" ng-init="type = 'appPilot';" style="padding:0;flex:0 0 45px" ng-click="btn_new()"></div>
        </div>
        <div id="popup_new" dx-popup="popup_new">
            <div style="padding:20px;">
                <div dx-button="btn_asr">ASR</div>
            </div>
          
        </div>
        <div id="popup_ASR" dx-popup="popup_ASR">
            <div class="col-lg-4 col-sm-6 col-md-6    padding-7 dx-border">
                <label>1.Type of Event</label>
                <div dx-select-box="sb_eventType"  ></div>
            </div>
          
        </div>
    </div>
</body>
