<style>
    .dx-toolbar {
        background-color: white;
        text-align: center
    }

    .dx-popup-content {
        padding: 0px !important
    }

    .button1 {
        color: white;
        height: 5%;
        width: 48%;
        padding: 5px;
        border-radius: 5px;
        position: fixed
    }
</style>

<body>
    <div style="height:100%">
        <div class="box  maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto">
            <div class="rowx header" ng-include="'app/views/header.html'"></div>
            <div class="rowx content" style="clear:both;background:#f0f3f5;  ">
            </div>


            <div class="rowx footer app-footer" ng-include="'app/views/Footer.html'" ng-init="type = 'appPilot';" style="padding:0;flex:0 0 45px" ng-click="btn_new()"></div>
        </div>
        <div id="popup_new" dx-popup="popup_new">
            <div style="padding:20px;">
                <div dx-button="btn_asr">ASR</div>
            </div>

        </div>
        <div id="popup_ASR" dx-popup="popup_ASR">
            <div dx-scroll-view="scroll_asr" style="padding:0px 0px 0 0;margin-top: 5px">
                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>1.Type of Event</label>
                    <div dx-select-box="sb_eventType"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>12.ALTITUDE</label>
                    <div dx-number-box="numAltitude"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>13.SPEED / MACH NO.</label>
                    <div dx-number-box="numSpeed"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>14.A/C WEIGHT</label>
                    <div dx-number-box="numACWeight"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>16.FLIGHT PHASE</label>
                    <div dx-select-box="sb_flightPhase"></div>
                </div>

                <div class="  col-sm-6 col-md-6 padding-7 dx-border">
                    <label>17.LOCATION</label>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">AIRPORT</label>
                        <div dx-text-box="txtLocationAirport"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">STAND</label>
                        <div dx-text-box="txtLocationStand"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">RUNWAY</label>
                        <div dx-text-box="txtLocationRunway"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">GEOGRAPHICAL POSITION</label>
                        <div dx-number-box="numLocationLat"></div>
                        <div dx-number-box="numLocationLng" style="margin-top:5px"></div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>20.SIGNIFICANT WX</label>
                    <div dx-select-box="sb_significantWx"></div>
                </div>


                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>21.RUNWAY CONDITION</label>
                    <div dx-select-box="sb_runwayCondition"></div>
                </div>

                <div class="  col-sm-6 col-md-6 padding-7 dx-border">
                    <label>22.AIRCRAFT CONFIGURATION</label>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">A/P</label>
                        <div dx-number-box="numAP"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">A/THR</label>
                        <div dx-number-box="numATHR"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">GEAR</label>
                        <div dx-number-box="numGear"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">FLAP</label>
                        <div dx-number-box="numFlap"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">SLAT</label>
                        <div dx-number-box="numSlat"></div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4 padding-7 dx-border">
                        <label style="color:gray">SPOILERS</label>
                        <div dx-number-box="numSpoilers"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>23.EVENT SUMMARY</label>
                    <div dx-text-area="txtEventSummary"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>24.ACTION TAKEN, RESULT AND ANY SUBSEQUENT EVENT(S)</label>
                    <div dx-text-area="txtAction"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 padding-7 dx-border">
                    <label>25.OTHER INFORMATION AND SUGGESTIONS FOR PREVENTETIVE ACTIONS</label>
                    <div dx-text-area="txtOtherInfo"></div>
                </div>

            </div>
        </div>
    </div>
</body>
